@(id: String)

@main("shevshim.com") {
<h1>@id</h1>
<div class="container_12">
	<div class="grid_6 fight">
		<div class="fightText">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit.
			Vivamus at augue id purus suscipit mollis. Sed luctus, libero nec
			ornare porttitor, nunc arcu varius purus, ut cursus neque nisl eu
			arcu. Proin interdum, arcu et fermentum mattis, massa lorem rutrum
			tellus, at consectetur enim nulla et ante. Maecenas aliquet euismod
			interdum. Nullam vel dolor mi. Ut eget justo augue. Vestibulum in
			felis sem. Maecenas tincidunt purus ut lacus porttitor sodales.
			Curabitur dapibus gravida neque, ut mollis turpis faucibus in. Cras
			pellentesque sagittis volutpat. Sed egestas diam id ligula euismod
			dignissim. Fusce elit tortor, convallis at pharetra nec, pulvinar
			fermentum dui.
		</div>
	</div>
	<div class="grid_6 fight">
		<div class="fightText">
			Nulla facilisi. Ut urna nisi, hendrerit et mattis sit amet,
			facilisis a justo. Phasellus tincidunt tortor facilisis mauris
			laoreet sodales. Cum sociis natoque penatibus et magnis dis
			parturient montes, nascetur ridiculus mus. Vestibulum arcu eros,
			posuere eget luctus id, ornare nec ipsum. Phasellus sagittis
			sollicitudin libero, non convallis mi scelerisque in. Cum sociis
			natoque penatibus et magnis dis parturient montes, nascetur ridiculus
			mus. Phasellus ac felis erat. Mauris eget ligula ipsum. Duis
			eleifend, tortor quis venenatis blandit, sem lorem faucibus magna,
			ornare mattis felis mauris sit amet nunc. Duis a sapien sem, ornare
			elementum erat. Cras ultrices, dolor dapibus ornare scelerisque, leo
			velit scelerisque ante, sit amet dignissim magna risus eu ante. Nulla
			ut sem ligula. Mauris felis tellus, adipiscing eu imperdiet nec,
			suscipit viverra justo. Suspendisse vel sapien et neque ornare
			lobortis. Ut ac blandit arcu. Nulla facilisi. Curabitur sagittis nibh
			id metus aliquet auctor. Nulla consequat aliquet nulla non malesuada.
			Phasellus sodales diam convallis nisl elementum mattis.
		</div>
	</div>
</div>
}
