@(fights: List[Fight], fightForm: Form[Fight])

@import helper._

@main("Fight list") {
	<div class="container_12">
		<div class="grid_12">
    
		    <h1>@fights.size() fight(s)</h1>
		    
		    <ul>
		        @for(fight <- fights) {
		            <li>
		                @fight.sideA - @fight.sideB
		                
		                @form(routes.Application.deleteFight(fight.id)) {
		                    <input type="submit" value="Delete">
		                }
		            </li>
		        }
		    </ul>
		    
		    <h2>Add a new fight</h2>
		    
		    @form(routes.Application.newFight()) {
		        
		        @inputText(fightForm("sideA"))
		        @inputText(fightForm("sideB")) 
		        
		        <input type="submit" value="Create">
		        
		    }
    	</div>
    </div>
    
}